@model MassWhatsAppSite.Models.WhatsAppMessage

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MassWhatsApp</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            display: flex;
            flex-direction: column;
        }

        .section {
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-bottom: 10px;
            width: 300px; /* Largura fixa de 300 pixels */
            height: 500px; /* Altura fixa de 200 pixels */
        }

        .section-reutlizar {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-bottom: 1px;
            width: 900px; /* Largura fixa de 300 pixels */
            height: 300px; /* Altura fixa de 200 pixels */
        }
        .section h2 {
            font-size: 20px;
            text-align: center;
            margin-bottom: 5px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-group label {
            font-weight: bold;
        }

        .form-group input,
        .form-group textarea {
            width: 100%;
            padding: 10px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .form-group textarea {
            height: 120px;
            resize: vertical;
        }

        .form-group-qr {
            height: 120px;
            width: 120px;
            resize: vertical;
        }
        .btn-primary {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-align: center;

        }

        .btn-primary:hover {
            background-color: #0056b3;
        }

        .alert {
            padding: 10px;
            font-size: 16px;
            border-radius: 4px;
        }

        .alert-success {
            background-color: #dff0d8;
            color: #3c763d;
            margin-bottom: 10px;
        }

        .alert-danger {
            background-color: #f2dede;
            color: #a94442;
            margin-bottom: 10px;
        }

        .qrcode {
            height: 280px;
            width: 220px;            
            text-align: center;
        }

        .qrcode img {
            max-width: 100%;
            height: auto;
        }

        .sidebar {
            width: 200px;
            background-color: #f0f0f0;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
            position: fixed;
            left: 0;
            top: 0;
        }

        .sidebar a {
            margin-bottom: 10px;
        }

        @* .hidden {
            display : none;
        } *@

    </style>
</head>
<body>
    <div class="sidebar">
        <small class="form-text text-muted">Clique nos passos para ligar/desligar as funções</small>
        <br>
 
        <a href="#" onclick="toggleDiv('passo1')">Passo 1</a>
        <a href="#" onclick="toggleDiv('passo2')">Passo 2</a>
        <a href="#" onclick="toggleDiv('passo3')">Passo 3</a>
        <br><br>
        <a href="#" onclick="toggleDiv('passo4')">Reutilizar API Key já cadastrada</a>
    </div>

@*     <div class="section">
        <h2>Ambiente: @Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT")</h2>
    </div> *@

    <div class="container">
        <div id="registerDiv">
            @if (!string.IsNullOrEmpty(TempData["Success"] as string))
            {
                <div class="alert alert-success">
                    @TempData["Success"]
                </div>
            }

            @if (!string.IsNullOrEmpty(TempData["Error"] as string))
            {
                <div class="alert alert-danger">
                    @TempData["Error"]
                </div>
            }

            <input type="hidden" id="apiKeyHidden" name="apiKeyHidden" value="@ViewBag.APIKeyHidden">
            <table>
                <tr>
                    <td>
                        <div class="section hidden"  id="passo1">
                            <h2>Passo 1 - Registrar o Telefone</h2>

                            <form asp-controller="WhatsApp" asp-action="RegisterPhoneNumber" method="get">
                                <div class="form-group">
                                    <label for="phoneNumber">Número do WhatsApp</label>
                                    <input class="form-control" type="text" id="phoneNumber" name="phoneNumber" required>
                                    <p>Digite o telefone no Formato 55YYXXXXXXXXX</p> 
                                </div>
                                <div class="form-group">
                                    <label for="apiKey">API Key (Apelido do telefone)</label>
                                    <input class="form-control" type="text" id="apiKey" name="apiKey" required>
                                    <p>Crie um nome fácil e significativo. Guarde essa informação, ela será importante para novos envios.</p>
                                    <p>Ex.: Telefone_JOAO</p>
                                </div>
                                <BR>
                                <div  style="display: flex; justify-content: center; align-items: center";>
                                    <button type="submit" class="btn btn-primary" >Registrar telefone</button>
                                </div>
                            </form>
                        </div>
                    </td>
                    <td>

                        @{
                            bool showDiv = TempData.ContainsKey("ShowDiv") ? (bool)TempData["ShowDiv"] : false;
                        }

                        <div class="section hidden"  id="passo2">
                            <h2>Passo 2 - Ler o QR Code</h2>
                            <p>No QR Code available</p>
                            <p>Prepare a leitura do QRCode antes de clicar no botão</p>

                            <div class="qrcode" style="justify-content: center; align-items: center">
                                @if (!string.IsNullOrEmpty(TempData["QRCodeBase64"] as string))
                                {
                                    <img src='data:image/png;base64,@TempData["QRCodeBase64"]' alt='QR Code'>
                                }
                                else
                                {

                                }
                            </div>
                           
                            <form asp-controller="WhatsApp" asp-action="ScanQR" method="get" style="display: flex; justify-content: center; align-items: center">
                                <button type="submit" class="btn btn-primary" >Scan QR Code</button>
                            </form>
                            
                        </div>
                    </div>
                    </td>
                
                    <td colspan="2">
                        <div class="section hidden"   id="passo3">
                            <h2>Passo 3 - Enviar Mensagem</h2>

                            <form asp-controller="WhatsApp" asp-action="SendMessage" method="post">
                                <div class="form-group">
                                    <label for="phoneNumbers">Números WhatsApp</label>
                                    <textarea class="form-control" id="phoneNumbers" name="PhoneNumbers"></textarea>
                                    <small class="form-text text-muted">Entre com um número a cada linha</small>
                                </div>
                                <div class="form-group">
                                    <label for="message">Message</label>
                                    <textarea class="form-control" id="message" name="Message"></textarea>
                                    <p>Cole aqui sua mensagem de texto</p>
                                </div>
                                @if(string.IsNullOrEmpty(@ViewBag.APIKeyHidden)){
                                    <small class="form-text text-muted">Digite sua apiKey</small>
                                }
                                else
                                {
                                    <DIV  style="display: flex; justify-content: center; align-items: center";>
                                        <button type="submit" class="btn btn-primary">Enviar Mensagem</button>
                                    </DIV>
                                }
                            </form>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="section-reutlizar" style="display: none"  id="passo4">
            <h2>Reutilizar API KEY - <span id="apiKeyTitle">@ViewBag.APIKeyHidden</span></h2>

            <form asp-controller="WhatsApp" asp-action="EnterAPIKEY" method="get">
                <div class="form-group">
                    <label for="apiKey">API Key (Apelido do telefone)</label>
                    <input class="form-control" type="text" id="apiKey" name="apiKey" required>
                    <p>Digite o nome que você escolheu quando registrou o telefone no passo 1</p>
                </div>
                <button type="submit" class="btn btn-primary">Registrar</button>
            </form>
        </div>
    </div>

    <script>
        function toggleDiv(divId) {
            var div = document.getElementById(divId);
            if (div.style.display === "none") {
                div.style.display = "block";
            } else {
                div.style.display = "none";
            }
        }
        

        document.getElementById("apiKey").addEventListener("input", function() {
            document.getElementById("apiKeyHidden").value = this.value;
        });
    </script>
</body>
</html>
